altgraph==0.17
beautifulsoup4==4.9.3
bs4==0.0.1
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
Flask==1.1.2
Flask-MySQLdb==0.2.0
future==0.18.2
gunicorn==20.0.4
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mysql-connector-python==8.0.22
mysqlclient==2.0.3
numpy==1.19.5
pandas==1.1.5
pefile==2019.4.18
plyer==2.0.0
protobuf==3.14.0
pyinstaller==4.1
pyinstaller-hooks-contrib==2020.11
python-dateutil==2.8.1
pytz==2020.5
pywin32-ctypes==0.2.0
PyYAML==5.3.1
requests==2.25.1
six==1.15.0
soupsieve==2.1
urllib3==1.26.2
Werkzeug==1.0.1
